.bg-blue-vb {
  background-color: #2d5773;
}
.blue-vb {
  color: #2d5773;
}

.bg-purple-vb {
  background-color: #d9799e;
}
.purple-vb {
  color: #d9799e;
}

.bg-pink-vb {
  background-color: #fb929e;
}
.pink-vb {
  color: #fb929e;
}

.bg-orange-vb {
  background-color: #fdc9ab;
}
.orange-vb {
  color: #fdc9ab;
}

.bg-gray-vb {
  background-color: #f9f9fb;
}
.gray-vb {
  color: #f9f9fb;
}

.bg-blue-vb-80 {
  background-color: #397094;
}
.blue-vb-80 {
  color: #397094;
}

.bg-purple-vb-80 {
  background-color: #f694ba;
}
.purple-vb-80 {
  color: #f694ba;
}

.bg-pink-vb-80 {
  background-color: #fea9b3;
}
.pink-vb-80 {
  color: #fea9b3;
}

.bg-orange-vb-80 {
  background-color: #ffd4bb;
}
.orange-vb-80 {
  color: #ffd4bb;
}

.bg-neutral {
  background-color: #ffffff;
}
.neutral {
  color: #ffffff;
}
