.alegreya-sc-100 {
  font-family: var(--alegreya-sc-100);
}
.alegreya-sc-200 {
  font-family: var(--alegreya-sc-200);
}
.alegreya-sc-300 {
  font-family: var(--alegreya-sc-300);
  line-height: 0.9;
}

.display-2xl {
  font-size: 72px;
}
.display-xl {
  font-size: 60px;
}
.display-lg {
  font-size: 48px;
}
.display-md {
  font-size: 36px;
}
.display-sm {
  font-size: 30px;
}
.display-base {
  font-size: 24px;
}
.display-xs {
  font-size: 20px;
}
.text-lg {
  font-size: 18px;
}
.text-md {
  font-size: 16px;
}
.text-sm {
  font-size: 14px;
}
.text-xs {
  font-size: 12px;
}
