// font family
$meltow-100: "Meltow Sans 100 Rust";
$meltow-200: "Meltow Sans 200 Rust";
$meltow-300: "Meltow Sans 300 Rust";

// color
$blue-vb: "#2D5773";
$purple-vb: "#D9799E";
$pink-vb: "#FB929E";
$orange-vb: "#FDC9AB";
$gray-vb: "#F9F9FB";

.meltow-100 {
  font-family: $meltow-100;
}
.meltow-200 {
  font-family: $meltow-200;
}
.meltow-300 {
  font-family: $meltow-300;
}
