@import "./specific/color";
@import "./specific/font";
@import "./specific/global";
@import "./specific/navbar";
@import "./specific/footer";
@import "./specific/button";
@import "./specific/header/header";
@import "./specific/about/about";
@import "./specific/article/article";
@import "./specific/message/message";
@import "./specific/logo/logo.css";

:root {
  // color
  --blue-vb: #2d5773;
  --purple-vb: #d9799e;
  --pink-vb: #fb929e;
  --orange-vb: #fdc9ab;
  --gray-vb: #f9f9fb;
  --blue-vb-80: #397094;
  --purple-vb-80: #f694ba;
  --pink-vb-80: #fea9b3;
  --orange-vb-80: #ffd4bb;
  --neutral: #ffffff;

  // Font Family
  --meltow-100: "Meltow Sans 100 Rust";
  --meltow-200: "Meltow Sans 200 Rust";
  --meltow-300: "Meltow Sans 300 Rust";
}
